Sokoban/Content/File.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "XnaContent">
<xs:complexType>
  <xs:sequence>
  <xs:element name = "Asset">
<xs:complexType>
<xs:sequence>
<xs:element name = "Item">
<xs:complexType>
<xs:sequence>
  <xs:element type = " xs: string" name = "Item"/>
  <xs:element type = " xs: string" name = "Item"/>
  <xs:element type = " xs: string" name = "Item"/>
  <xs:element type = " xs: string" name = "Item"/>
  <xs:element type = " xs: string" name = "Item"/>
  <xs:element type = " xs: string" name = "Item"/>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="Type"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type = "xs:string" name = "xmlns:ns"/>
</xs:complexType>
</xs:element>
</xs:schema>
